#ul{
    margin-left: 50%;

}
.nav-item{
    margin-left: 25px;
}
#link{
    color: white;
}
#title{
    color: white;
    font-weight: bold;
}

#button{
    background-color:  #df2896fe;
    border-color: #FF0099;
}
#nav{
    background: #FF0099;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
        /* about us section */
.car{
    /* border: 5px solid black; */
    height: 500px;
    display: flex;
}



.car-1{
    /* border: 5px solid red; */
    height: 450px;
    width: 25%;
    margin-top: 30px;
    margin-left: 60px;
}

.car-2{
    /* border: 5px solid yellow; */
    height: 450px;
    width: 25%;
    margin-top: 30px;
    margin-left: 50px;
}
.car-3{
    /* border: 5px solid blue; */
    height: 450px;
    width: 25%;
    margin-top: 30px;
    margin-left: 50px;
}
.img{
    width: 100%;
}
.img1{
    width: 100%;
}
.img-2{
    width: 100%;
    height: 50%;
}
.p{
    margin-top: 15px;
}

.p1{
    margin-top: 15px;
}
.p2{
    margin-top: 15px;
}

        /* shop section */
    .section{
        /* border: 5px solid black; */
        height: 400px;
        display: flex;
        margin-top: 30px;
        
    }
    .section-1{
        /* border: 3px solid purple; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
    }
    .section-2{
        /* border: 3px solid purple; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
    }
    .section-3{
        /* border: 3px solid purple; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
    }
    .section-4{
        /* border: 3px solid purple; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
    }
    .section-5{
        /* border: 3px solid purple; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
    }

    .s1{
        height: 200px;
        margin-left: 30px;

    }
    .s2{
        height: 200px;
        width: 100%;
    

    }
    .s3{
        height: 200px;
        margin-left: 30px;

    }
    .s4{
        height: 200px;
        margin-left: 30px;

    }
    .s5{
        height: 200px;
        margin-left: 30px;

    }
    .pa{
       font-size: 13px; 
       font-family: sans-serif;
       margin-left: 5%;
       font-weight: bold;
    }
    .pa1{
        font-size: 13px; 
        font-family: sans-serif;
        margin-left: 5%;
        font-weight: bold;
     }
     .pa2{
        font-size: 13px; 
        font-family: sans-serif;
        margin-left: 5%;
        font-weight: bold;
     }
     .pa3{
        font-size: 13px; 
        font-family: sans-serif;
        margin-left: 5%;
        font-weight: bold;
     }
     .pa4{
        font-size: 13px; 
        font-family: sans-serif;
        margin-left: 5%;
        font-weight: bold;
     }

     .button{
        border: 3px;
        border-radius: 5px;
        background-color: #FF0099;
     }
/* 
     #icon{
        font-size: 30px;
        font-weight: bold;
        background-color: #ff0099a5;
        border: 5px;
        border-radius: 5px;
        margin-top: 80px;
     } */

     .head{
        font-size: 25px;
        font-weight: bold;
        font-family: sans-serif;
    
     }
     
     .po{
        font-size: 20px;
        align-items: center;
     }

     .main{
        /* border: 5px solid yellow; */
        height: 600px;
        margin-top: 50px;
        display: flex;
     }
     
     .main-1{
        /* border: 3px solid blue; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
     }

     .main-2{
        /* border: 3px solid blue; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
     }
     .main-3{
        /* border: 3px solid blue; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
     }

     .main-4{
        /* border: 3px solid blue; */
        height: 300px;
        width: 20%;
        margin-top: 30px;
        margin-left: 20px;
     }
     
     .main-5{
        /* border: 3px solid blue; */
        height: 300px;
        width: 20%;
        margin-top: 40px;
        
     }

     .images{
        height: 200px;
        
        
     }
     .images-1{
        height: 200px;
        
           
        
     } 
     .images-2{
        height: 200px;
    
           
        
     } 
     .images-3{
        height: 200px;
        
           
        
     } 
     .images-4{
        height: 200px;
        
     } 

     .title{
        margin-left: 30%;
        margin-top: 30px;
     }
     .pr{
        text-align: center;
     }

     /* features product */
     .div{
        /* border: 5px solid green; */
        height: 400px;
        display: flex;
    
     }
     .div-1{
        /* border: 5px solid red; */
        height: 400px;
        width: 25%;
        margin-left: 30px;
     
     }
     .div-2{
        /* border: 5px solid red; */
        height: 400px;
        width: 25%;
        margin-left: 30px;
        margin-top: 20px;
  
     }
     .div-3{
        /* border: 5px solid red; */
        height: 400px;
        width: 25%;
        margin-left: 30px;
       
     }
     .div-4{
        /* border: 5px solid red; */
        height: 400px;
        width: 25%;
        margin-left: 30px;
        
     }

     .picture{
        margin-left: 40px;
        height: 200px;
     }
     .picture1{
        
        
        height: 200px;
     }
     .picture2{
        margin-left: 40px;
        height: 220px;
     }
     .picture3{
        margin-left: 40px;
        height: 220px;
     }
     .paragraph{
        font-size: 15px;
        margin-left: 10px;
     }

     .B{
        font-size: 20px;
        background-color: #FF0099;
        border-color: #FF0099;
     }



     /* contact us section */

     #contact{
      
      padding: 5%;
      box-shadow: #FF0099 0px 5px 15px;
      margin-top: 15%;
     }
      
     
    
      









@media only screen and (max-width: 700px) {
    #ul{
        margin-left: 0%;
    
    }
  }



  

  